<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>
  <run>
  <include name="smoke"></include>
  </run>
  </groups>
    <classes>
      <class name="tests.bfrmthd"/>
      <class name="tests.TestPriorit"/>
      <class name="tests.Dependon"/>
      <class name="tests.bfrclss"/>
      <class name="tests.bfrtst"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
